#header{
	height: 200px;
	width: 1000px;
	margin: auto;
}
.logo{
	background: yellow;
	height: 200px;
	width: 300px;
	float: left;
	line-height: 200px;
	text-align: center;
}
.banner{
	background: red;
	height: 200px;
	width: 700px;
	float: left;
	line-height: 200px;
	text-align: center;
}
#main{
	height: 300px;
	width: 1000px;
	margin: auto;
}
#menu{
	height: 50px;
	width: 1000px;
	margin: auto;
	background: green;
	line-height: 50px;
	text-align: center;
}
#content{
	height: 250px;
	width: 1000px;
	margin: auto;
	background: blue;
	line-height: 250px;
	text-align: center;
}
#footer{
	height: 200px;
	width: 1000px;
	margin: auto;
}
.footer_left{
	background: orange;
	height: 200px;
	width: 500px;
	float: left;
	line-height: 200px;
	text-align: center;
}
.footer_right{
	background: violet;
	height: 200px;
	width: 500px;
	float: left;
	line-height: 200px;
	text-align: center;
}
.demo{
	font-size: 15px;
	font-family: courier;
	text-indent: 10px;
	text-align: right;
}