@media screen and (max-width: 720px) {
	.header-left{
		width: 20%;
		margin-left: 10px;
	}
	.header-center{
		width: 50%;
		margin-left: 10px;
	}
	.header-right{
		width: 20%;
		margin-left: 10px;	
	}
	#hero{
		width: 100%;
	}
	.hero-left{
		width: 100%;
		height: 50px;
		float: left;
		margin-left: 0px;
	}
	.hero-center{
		width: 100%;
		height: 50px;
		float: left;
		margin-left: 0px;
	}
	#Ad{
		width: 25%;
		height: 400px;
	}
	#body{
		height: 400px;
		float: left;
	}
	.body-left{
		width: 100%;
		height: 150px;
		float: left;
		margin-left: 0px;
	}
	.body-center{
		width: 100%;
		height: 200px;
		float: left;
		margin-left: 0px;
	}
	#slidebar{
		float: left;
		width: 100%;
		height: 100px;
	}
	.slide{
		width: 100%;
		height: 70px;
		line-height: 70px;
	}


}
@media screen and (max-width: 480px) {
	#header{
		height: 150px;
		width: 100%;
	}
	.header-left{
		width: 100%;
		margin-left: 0px;
	}
	.header-center{
		width: 45%;
		margin-left: 0px;
	}
	.header-right{
		width: 45%;
		float: right;
		margin-left: 0px;
	}	
	.hero-center{
		width: 100%;
		height: 50px;
		float: left;
		margin-left: 0px;
	}
	.hero-left{
		display: none;
	}
	#hero{
		width: 100%;
		height: 100px;
	}
	#Ad{
		width: 100%;
		height: 60px;
		float: left;
	}
	#body{
		width: 100%;
		height: 150px;
		float: left;
		}
	#slidebar{
		display: none;
	}
	#footer{
		float: left;
	}
	.body-left{
		width: 100%;
		height: 50px;
		float: left;
		margin-left: 0px;
	}
	.body-center{
		width: 100%;
		height: 50px;
		float: left;
		margin-left: 0px;
	}
}