*{
	text-align: center;
	padding: 0;
	margin: 0;
}
#container{
	margin: auto;
	width: 90%;
	border: 1px solid green;
}
#header{
	border: 1px solid green;
	background: #3d0099;
	width: 100%;
	height: 100px;
}
.text{
	font-size: 150%;
	text-align: left;
	color: yellow;
}
.header-top{
	width: 100%;
}
.header-left{
	height: 50px;
	width: 10%;
	margin-left: 20px;
	float: left;
	margin-top: 10px;
	background: #d1b3ff;
	line-height: 50px;
}
.header-center{
	height: 50px;
	width: 65%;
	margin-left: 20px;
	float: left;
	margin-top: 10px;
	background: #d1b3ff;
	line-height: 50px;
}
.header-right{
	height: 50px;
	width: 10%;
	margin-left: 20px;
	float: left;
	margin-top: 10px;
	background: #d1b3ff;
	line-height: 50px;
}
